:root {
	--main-color: #80A264 ;
	--secondary-color: #d9d9d9;
}

.header-title {
	margin: 0;
	background-color : var(--main-color);
	color : #FFFFFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content : space-between;
	padding-left: 1%;
	padding-right: 1%;
}

.header-menu {
	margin: 0;
	background-color : var(--secondary-color);
	color : #000000;
	display: flex;
	flex-wrap: wrap;
	justify-content : space-between;
	align-items: center;
	flex-direction: row;
	padding: 1%;
	
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
}



footer {
 margin-top: 2%;
  width : 100%; /* obligatoire si la largeur du footer n'est pas spécifiée explicitement dans le code CSS */
  height : 6em;
  background : var(--main-color);
  color : #FFFFFF;
  
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content : space-around;
	padding-left: 1%;
	padding-right: 1%;
}

.ancres {scroll-margin-top: 200px;}


.flex_row {
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content : space-around;
	padding-left: 1%;
	padding-right: 1%;
	width:100%;
}

.flex_col {
  display: flex;
  flex-direction: column;
	align-items: right;
	justify-content : space_between;
	padding-left: 1%;
	padding-right: 1%;
}

.flex_division {
  display: flex;
  flex-direction: row;
	align-items: stretch;
	justify-content : space-between;
	padding-left: 1%;
	padding-right: 1%;
	flex-wrap: wrap;
}


h2 {

    color: var(--main-color); 
	background-color : #000000;
}

.carroussel {
	text-align: center;
}

.white {
	color: white;
}

.align_center {
	text-align: center;
	padding : 2%;
}


button {
	margin-right: 2%;
}


body h1 {
	color : var(--main-color); 
}

.element-separator {
	font-size: 150%;
}

/* Link */

a {
  outline: none;
  text-decoration: none;
  padding: 10px 50px;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:focus {
  background: #999999;
  outline: none;
  text-decoration: none;
  color: #e6e6e6;
}

a:hover {
  background: #999999;
  outline: none;
  text-decoration: none;
  color: #e6e6e6;
}

a:active {
  background: #265301;
  color: #000000;
  outline: none;
  text-decoration: none;
}

/* Diaporama */
.diapo{
    position: relative;
    overflow: hidden;
	width: 50%;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
}

.elements{
    display: flex;
    transition: 1s linear;
	width: 100%;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 99%;
	margin:0%;
}