:root {
	--main-color: #559655;
	--header-color: #9abd6f;
	--secondary-color: #d9d9d9;
	font-family: 'Shantell Sans', cursive;
}

.header-title {
	margin: 0;
	background-color : var(--header-color);
	color : #FFFFFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content : space-between;
	padding-left: 1%;
	padding-right: 1%;
	z-index:1000;
}

.header-menu {
	margin: 0;
	background-color : var(--secondary-color);
	color : #000000;
	display: flex;
	flex-wrap: wrap;
	justify-content : space-between;
	align-items: center;
	flex-direction: row;
	padding: 1%;
	z-index:1000;
	
}

.header {
	position: sticky;
	top: 0;
	width: 100dw;
	z-index:1000;
}

.content{
	width: 80%;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content : space_between;
	padding-left: 1%;
	padding-right: 1%;
	margin: 0;
	padding-bottom: 8%;
}

body{
	background-color: #f0f0f0;
	background-image:url('./img/background2.webp');
	background-size: 100dw;
	margin: 0;
}


footer {
  margin: 0;
  width : 100dw; /* obligatoire si la largeur du footer n'est pas spécifiée explicitement dans le code CSS */
  height : 6em;
  background : var(--header-color);
  color : #FFFFFF;
  
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content : space-around;
	padding-left: 1%;
	padding-right: 1%;
}

.ancres {scroll-margin-top: 200px;}

.firstSentence {
	color : #3a3a3a;
	font-size : 200%;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}


.flex_row {
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content : space-around;
	padding-left: 1%;
	padding-right: 1%;
	width:100%;
}

.flex_col {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content : space_between;
}

.flex_division {
  display: flex;
  flex-direction: row;
	align-items: stretch;
	justify-content : space-between;
	flex-wrap: wrap;
}

.flex_division_diapo {
  display: flex;
  flex-direction: row;
	align-items: stretch;
	justify-content : space-between;
	padding-left: 1%;
	padding-right: 1%;
	flex-wrap: wrap;
}

.flex_row_center {
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content : center;
	padding-left: 1%;
	padding-right: 1%;
	width:100dw;
}


h2 {
    color: var(--main-color);
	
}

.carroussel {
	text-align: center;
}

.white {
	color: white;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 40;
}

.white2 {
	color: white;
	font-size: 40;
}


.align_center {
	text-align: center;
	padding : 2%;
}


button {
	margin-right: 2%;
}

body footer h1 {
	margin-top : 2%;
}

body header h1 {
	margin-top : 2%;
}

body h1 {
	color : var(--main-color);
	margin-top : 5%;
}



.element-separator {
	font-size: 150%;
}

/* Link */

a {
  outline: none;
  text-decoration: none;
  padding: 10px 50px;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:focus {
  background: var(--header-color);
  outline: none;
  text-decoration: none;
  color: #e6e6e6;
}

a:hover {
  background: var(--header-color);
  outline: none;
  text-decoration: none;
  color: #e6e6e6;
}

a:active {
  background: #999999;
  color: #000000;
  outline: none;
  text-decoration: none;
}

/* Diaporama */
.diapo{
    position: relative;
    overflow: hidden;
	width: 80%;
	max-width: 800px;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 3em;
}

#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
	transform: scaleX(-1);
}

.elements{
    display: flex;
    transition: 1s linear;
	width: 100%;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 99%;
	margin:0%;
}

/* Page d'edition */
form {
  /* On centre le formulaire */
  margin: 0 auto;
  width: 100%;
}

input:focus,
textarea:focus {
  /* On rajoute une mise en avant pour les éléments avec
     le focus. */
  border-color: #000;
}

textarea {
  /* On aligne les textes sur plusieurs lignes avec leur
     libellé. */
  vertical-align: top;

  /* On fournit un peut d'espace pour saisir du texte. */
  height: 10em;
  width: 90%;
  
  margin: 5%;
  resize: vertical;

}

input {
	width: 50px;
}

.contactDiv input{
	width: 150px;
}

.localisationDiv input {
	width: 150px;
}

.rateDiv input{
	width: 50px;
}

.capacityDiv input {
	width: 50px;
}

.errMessage {
	color: red;
	font-size: 90%;
}

.PhotoDiv {
	margin-left: 5%;
}

.DispoDiv {
	margin-left: 5%;
}

#calendar {
	width: 100%;
	margin: 0;
	height: 600px;
	max-width: 600px;
  }

  #calendar h2 {
	color: rgb(0, 0, 0); /* Exemple de style */
	font-size: 24px; /* Exemple de style */
  }
  
  /* Styles pour les boutons spécifiques au calendrier */
  #calendar button {
	background-color: var(--main-color); /* Exemple de style */
	color: white; /* Exemple de style */
	border: none; /* Exemple de style */
	padding: 2px; /* Exemple de style */
	border-radius: 5px; /* Exemple de style */
	margin: 2px;
  }

  #calendar .fc-h-event {
	background-color: var(--main-color);
	border: var(--main-color);
	padding: 1%;
  }

/* Médias requêtes pour les écrans de petite taille (tablettes et téléphones) */
@media (max-width: 1260px) {
	.responsive_decalage {
		margin-top: 130px; /* Ajoutez le padding désiré pour les h1 */
	}
	#Contact {
		display: none;
	}
}

.datePicker {
	width: 130px;
}

input {
	margin-top : 2px;
	margin-bottom: 2px;
}

.margin_bottom {
	margin-bottom: 40px;
}

/* Gestion popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.popup-content {
    text-align: center;
}

.popup input {
    width: 100px;
	margin: 2px;
	margin-bottom: 10px;
}

.popup h2 {
	margin-top : 0;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    z-index: -1;
}
